.cus_font {
  font-size: 0.9rem;
}

.cus-cart{
  padding-left: 50px;
  padding-bottom: 1px;
}
#lblCartCount {
  vertical-align: top;
  margin-left: -10px;
}

.cus-input {
  border-radius: 15px;
  width: 50px;
}
.cus-btn {
  border-radius: 15px;
}
