<div class="container-fluid">
  <nav class="navbar navbar-expand-lg embed-responsive navbar-light bg-light" style="height: 30px">
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item" style="margin-left: 90px;">
          <a class="nav-link" href="#"><small>GIỚI THIỆU</small></a>
        </li>
        <li class="nav-item">
          <a class="nav-link"><small>|</small></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#"><small>LỊCH SỬ GIAO DỊCH</small></a>
        </li>
        <li class="nav-item">
          <a class="nav-link"><small>|</small></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#"><small>KIỂM TRA ĐƠN HÀNG</small></a>
        </li>
        <li class="nav-item" style="margin-left: 500px">
          <a class="nav-link"><small>LIÊN HỆ: +84.325.525.535</small></a>
        </li>
      </ul>
    </div>
  </nav>
</div>
  <!-- header section strats -->
  <header class="header_section">
    <div class="container-fluid">
      <div class="row flex-wrap d-flex embed-responsive" style="justify-content: center; align-items: center">
        <a class="navbar-brand" routerLink="/">
          <img src="/assets/images/Blue Modern illustration Book Store Logo.png" alt="logo">
        </a>
        <form class="input-group mb-3 w-50 mt-2">
          <input type="text" class="form-control cus-input" placeholder="Tìm kiếm sách..." style="font-size: small">
          <div class="input-group-append ">
            <button class="btn btn-outline-warning cus-btn" style="height: 87%" type="button"><img width="20" height="20" src="/assets/images/search.svg"></button>
          </div>
        </form>
        <div class="cus-cart">
          <!--          <img src="assets/images/user.svg" style="padding-right: 3px">-->
          <a href="/#jump" style="color: #000000" routerLink="/login">Đăng nhập </a>
          <small>|</small>
          <a href="/#jump" style="color: #000000" routerLink="/register"> Đăng ký</a>
          <a routerLink="cart/detail">
            <!-- <i class="fa fa-cart-plus" aria-hidden="true"></i> -->
            <!-- <i class="fa fa-shopping-cart"></i> -->
            <!-- <img src="https://img.icons8.com/external-wanicon-lineal-wanicon/64/000000/external-cart-supermarket-wanicon-lineal-wanicon.png"/> -->
            <img src="/assets/images/shopping-bag.svg" style="padding-left: 7px"/><span class="badge" id="lblCartCount">12</span>
          </a>
          <!-- <a href="">
              <i class="fa fa-search" aria-hidden="true"></i>
          </a> -->
        </div>
      </div>
      <nav class="navbar navbar-expand-lg custom_nav-container ">
        <button class="navbar-toggler" type="button" data-toggle="collapse"
                data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                aria-expanded="false" aria-label="Toggle navigation">
          <span class=""> </span>
        </button>

        <div class="collapse navbar-collapse dtr-menu" id="navbarSupportedContent">
          <ul class="navbar-nav">
            <li class="nav-item active hover-underline-animation cus_font">
              <a class="nav-link" routerLink="/">Trang chủ <span
                class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item cus_font">
              <div class="dropdown nav-link hover-underline-animation">
                Danh mục sách
                <div class="dropdown-content" style="text-align: left;">
                  <a style="text-transform: capitalize" href="watches.html">Văn học Việt Nam</a>
                  <a style="text-transform: capitalize" href="watches.html">Văn học nước ngoài</a>
                  <a style="text-transform: capitalize" href="watches.html">Thiếu nhi</a>
                  <a style="text-transform: capitalize" href="watches.html">Thời sự - Chính
                    trị</a>
                </div>
              </div>
            </li>
            <li class="nav-item cus_font">
              <a class="nav-link hover-underline-animation" routerLink="book/detail"> Sách bán chạy </a>
            </li>
            <li class="nav-item cus_font">
              <a class="nav-link hover-underline-animation">Chương trình khuyến
                mãi</a>
            </li>
            <li class="nav-item cus_font">
              <a class="nav-link hover-underline-animation" href="contact.html">Giảm giá đặc biệt</a>
            </li>
          </ul>
        </div>
      </nav>
    </div>
  </header>
  <!-- end header section -->



