<div class="container layout_padding" style="font-family: 'Poppins', sans-serif;margin-bottom: 10px">
  <div class="row">
    <div class="col-md-9 cart">
      <div class="title">
        <div class="row">
          <div class="col"><h4>Giỏ hàng</h4></div>
        </div>
      </div>
      <div class="row border-bottom">
        <div class="row main-header d-flex flex-wrap">
          <div class="col-1 mt-1"><input class="cus-input" (change)="isAllChecked()" [checked]="checkAll" style="accent-color: rgba(62,62,231,0.89)" type="checkbox">
          </div>
          <div class="col-4">Tất cả</div>
          <div class="col">Đơn giá</div>
          <div class="col">
            Số lượng
          </div>
          <div class="col">Thành tiền
            <button class="close" data-toggle="modal"
                    data-target="#modalDeleteCart1">&#10005;</button>
          </div>
        </div>
      </div>
      <div *ngFor="let cartBook of cartBookList;  let i=index">
        <div class="row border-top border-bottom">
          <div class="row main align-items-center">
            <div class="col-1 mt-1"><input class="cus-input" style="accent-color: rgba(62,62,231,0.89)" type="checkbox"
                                           (change)="isChecked(i)" [checked]="checkList[i]"></div>
            <div class="col-1"><img class="cus-img" [src]="cartBook.bookId.bookImage"></div>
            <div class="col-3">
              {{cartBook.bookId.bookName}}
            </div>
            <!--            <div class="col" >100.000<sup>đ</sup></div>-->
            <div class="col" *ngIf="cartBook.bookId.bookPromotionId.promotionId === 1">
              <span>{{cartBook.bookId.bookPrice| currency: 'VND'}}</span>
            </div>
            <div class="col" *ngIf="cartBook.bookId.bookPromotionId.promotionId !== 1">
              <span>{{cartBook.bookId.bookPrice - (cartBook.bookId.bookPrice * cartBook.bookId.bookPromotionId.promotionPercent/100) | currency: 'VND'}}</span>
            </div>
            <div class="col">
              <button type="button" *ngIf="cartBook.cartId.cartQuantity != 1" (click)="subBook(cartBook)"
                      style="border: none; background-color: #faf9fa">-
              </button>
              <button type="button" *ngIf="cartBook.cartId.cartQuantity == 1" data-toggle="modal"
                      data-target="#modalDeleteCart" (click)="showInfoCartDelete(cartBook)"
                      style="border: none; background-color: #faf9fa">-
              </button>
              <!--              <button type="button" style="border: 1px solid rgba(128,128,128,0.2); background-color: white">1</button>-->
              <input class="txt-quantity" type="text"
                     style="border: 1px solid rgba(128,128,128,0.2); background-color: white; width: 30px; height: 20px"
                     (change)="getQuantity($event.target, cartBook)"
                     [value]="cartBook.cartId.cartQuantity" readonly/>
              <button type="button" style="border: none; background-color: #faf9fa"
                      [disabled]="cartBook.cartId.cartQuantity >= cartBook.bookId.bookQuantity"
                      (click)="addBook(cartBook)">+
              </button>
            </div>
            <div class="col"><span style="color: #f54e42">{{cartBook.cartId.cartTotalMoney | currency: 'VND'}}</span>
              <button class="close" (click)="showInfoCartDelete(cartBook)"
                      data-toggle="modal"
                      data-target="#modalDeleteCart" type="button">&#10005;
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-3 summary">
      <div class="row mb-2">
        <div class="col" style="padding-left:0;"><span><b>Giao tới</b></span></div>
<!--        <div class="col text-right"><a href="#">Thay đổi</a></div>-->
      </div>
      <div class="row">
        <div class="col" style="padding-left:0; font-size: 14px"><span><b>{{customer.customerName}}</b></span></div>
        <div class="col"><b>{{customer.customerPhone}}</b></div>
      </div>
      <div class="row">
        <div style="color: #3b4a6b"><span>{{customer.customerAddress}}</span></div>
      </div>
<!--      <hr>-->
<!--      <div class="row">-->
<!--        <div class="col" style="padding-left:0;">ITEMS 3</div>-->
<!--        <div class="col text-right">&euro; 132.00</div>-->
<!--      </div>-->
<!--      <form>-->
<!--        <p>SHIPPING</p>-->
<!--        <select>-->
<!--          <option class="text-muted">Standard-Delivery- &euro;5.00</option>-->
<!--        </select>-->
<!--        <p>GIVE CODE</p>-->
<!--        <input id="code" placeholder="Enter your code">-->
<!--      </form>-->
      <div class="row" style="border-top: 1px solid rgba(0,0,0,.1); padding: 2vh 0;">
        <div class="col">Tổng thanh toán:</div>
        <div class="col text-right"><span>{{totalMoney | currency: 'VND'}}</span></div>
      </div>
      <button (click)="showPayPalButton()" class="round-black-btn">Thanh toán</button>
<!--      <button class="round-black-btn mt-2"><img src="assets/images/PayPal.svg.png"></button>-->
      <div hidden id="paymentModal" data-bs-toggle="modal" data-bs-target="#payment"></div>
    </div>
  </div>
</div>

<!-- ========Modal Xoa========== -->
<div class="modal" id="modalDeleteCart" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" style="color: red">Bạn có muốn xóa sản phẩm này?</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p style="color: #3b4a6b">{{cartDelete.bookId.bookName}}</p>
        <p style="color: red; font-size: small">Lưu ý: Thao tác này không thể hoàn tác.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn" data-dismiss="modal">Hủy</button>
        <button type="button" class="btn" data-dismiss="modal" style="background-color: #e6c511" (click)="deleteCart(cartDelete.cartBookId)">Xác nhận</button>
      </div>
    </div>
  </div>
</div>

<!-- ========Modal Xoa Tat Ca========== -->
<div class="modal" id="modalDeleteCart1" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" style="color: red">Bạn có muốn xóa tất cả sản phẩm?</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p style="color: red; font-size: small">Lưu ý: Thao tác này không thể hoàn tác.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn" data-dismiss="modal">Hủy</button>
        <button type="button" class="btn" data-dismiss="modal" style="background-color: #e6c511" (click)="deleteManyBookCart()">Xác nhận</button>
      </div>
    </div>
  </div>
</div>


<!--======================== Modal thanh toan =======================-->
<div class="modal popup-search-style" id="payment">
  <!--  <button type="button" class="close-btn" data-bs-dismiss="modal"><span aria-hidden="true">&times;</span></button>-->
  <div class="modal-overlay">
    <div class="modal-dialog p-0" role="document">
      <div class="modal-content">
        <div class="modal-body "
             style="z-index: 100; background-color: white;width: 500px; height: 390px; border-radius: 5px">
          <h2 class="mb-5">Chọn phương thức thanh
            toán.</h2>
          <!--              <form class="navbar-form position-relative" role="search">-->
          <div class="navbar-form position-relative" role="search">
            <div data-bs-dismiss="modal" class="form-group">
              <div class="w-100 " style="z-index: 1" id="myPaypalButtons"></div>
            </div>
          </div>
          <div class="mt-5 row  d-flex justify-content-center">
            <button data-bs-dismiss="modal"> Hủy</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<notifier-container></notifier-container>
