<!--<app-header></app-header>-->
<!--<router-outlet></router-outlet>-->
<!--<app-footer></app-footer>-->

<div class="pd-wrap">
  <div class="container">
    <div class="card cus-card-detail">
      <div class="card-body">
        <div class="row">
          <div class="col-md-6">
            <div class="box">
              <div class="img-box">
                <img class="img-fluid" src="{{book.bookImage}}" alt="image">
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="product-dtl">
              <div class="product-info">
                <div class="product-name"><span>{{book.bookName}}</span></div>
                <hr style="height:2px;border-width:0;background-color:#3b4a6b">
                <div class="detail">
                  <ul  style=" font-size: 13px">
                    <li><span style="font-weight: bold">Mã sản phẩm:</span> {{book.bookCode}}</li>
                    <hr style="height: 0.5px;width: 91%;margin-left:0;border-width:0;background-color:grey">
                    <li><span style="font-weight: bold">Tác giả: </span>{{book.bookAuthorId.authorName}}</li>
                    <hr style="height: 0.5px;width: 91%;margin-left:0;border-width:0;background-color:grey">
                    <li><span style="font-weight: bold">Dịch giả: </span>{{book.bookTranslator}}</li>
                    <hr style="height: 0.5px;width: 91%;margin-left:0;border-width:0;background-color:grey">
                    <li><span style="font-weight: bold">Nhà xuất bản: </span>{{book.bookPublisher}}</li>
                    <hr style="height: 0.5px;width: 91%;margin-left:0;border-width:0;background-color:grey">
                    <li><span style="font-weight: bold">Số trang: </span>{{book.bookTotalPage}}</li>
                    <hr style="height: 0.5px;width: 91%;margin-left:0;border-width:0;background-color:grey">
                    <li><span style="font-weight: bold">Kích thước: </span>{{book.bookSize}}</li>
                    <hr style="height: 0.5px;width: 91%;margin-left:0;border-width:0;background-color:grey">
                    <li><span style="font-weight: bold">Ngày phát hành: </span>{{book.bookPublishDate | date: 'dd/MM/yyyy'}}</li>
                    <hr style="height: 0.5px;width: 91%;margin-left:0;border-width:0;background-color:grey">

                  </ul>
                </div>
                <div class="product-price-discount" *ngIf="book.bookPromotionId.promotionId === 1">
                  <span>Giá: {{book.bookPrice}}.000<sup>đ</sup></span>
                </div>
                <div class="product-price-discount" *ngIf="book.bookPromotionId.promotionId !== 1">
                  <span>Giá: {{(book.bookPrice-(book.bookPrice*book.bookPromotionId.promotion_percent*0.01)).toFixed(3)}}<sup>đ</sup></span>
                  <span class="line-through">{{book.bookPrice.toFixed(3)}}<sup>đ</sup></span>
                </div>
              </div>
                <div *ngIf="!isLoggedIn">
                  <button routerLink="/login" class="round-black-btn">Thêm vào giỏ hàng</button>
                </div>
              <div *ngIf="isLoggedIn">
                <button href="#" class="round-black-btn">Thêm vào giỏ hàng</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="product-info-tabs">
      <ul class="nav nav-tabs" id="myTab" role="tablist">
        <li class="nav-item">
          <a class="nav-link active" id="description-tab" data-toggle="tab" href="#description" role="tab"
             aria-controls="description" aria-selected="true">Mô tả</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="review-tab" data-toggle="tab" href="#review" role="tab"
             aria-controls="review" aria-selected="false">Nhận xét (0)</a>
        </li>
      </ul>
      <div class="tab-content" id="myTabContent">
        <div class="tab-pane fade show active" id="description" role="tabpanel"
             aria-labelledby="description-tab">
          <span>
            {{book.bookContent}}
          </span>
        </div>
      </div>
    </div>

    <div class="product-name">Sách cùng tác giả</div>
    <hr style="height:2px;border-width:0;background-color:#3b4a6b">
    <section class="shop_section">
      <div class="container">
        <div class="row">
          <div class="col-sm-6 col-xl-3" *ngFor="let bookAuthor of bookListByAuthor">
            <div class="box">
              <a [routerLink]="['/detail', bookAuthor.bookId]">
                <div class="img-box">
                  <img src="{{bookAuthor.bookImage}}" alt="image">
                </div>
                <div class="detail-box">
                  <h6>
                    {{bookAuthor.bookName}}
                  </h6>
                </div>
              </a>
            </div>
            <div class="cus-price" *ngIf="bookAuthor.bookPromotionId.promotionId !== 1">
              Giá:
              <span class="original">{{(bookAuthor.bookPrice-(bookAuthor.bookPrice*bookAuthor.bookPromotionId.promotion_percent*0.01)).toFixed(3)}}<sup>đ</sup></span><span style="padding-left: 20px; font-size: small;text-decoration-line: line-through">{{bookAuthor.bookPrice.toFixed(3)}}<sup>đ</sup></span>
            </div>
            <div class="cus-price" *ngIf="bookAuthor.bookPromotionId.promotionId === 1">
              Giá:
              <span class="original">{{bookAuthor.bookPrice.toFixed(3)}} <sup>đ</sup></span>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</div>



