<!-- Social -->
<div class="hero_area">
  <div class="hero_social">
    <a href="#">
      <i class="fa fa-facebook" aria-hidden="true"></i>
    </a>
    <a href="#">
      <i class="fa fa-twitter" aria-hidden="true"></i>
    </a>
    <a href="#">
      <i class="fa fa-linkedin" aria-hidden="true"></i>
    </a>
    <a href="#">
      <i class="fa fa-instagram" aria-hidden="true"></i>
    </a>
  </div>

  <!-- slider section -->
  <section class="slider_section ">
    <div id="customCarousel1" class="carousel slide" data-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <div class="container-fluid ">
            <div class="row">
              <div class="col-md-6">
                <div class="detail-box">
                  <h1>
                    Nhà sách Fahasa
                  </h1>
                  <p>
                    Fahasa nhận đặt hàng trực tuyến và giao hàng tận nơi trên toàn quốc. Fahasa mang sách đến mọi nhà.
                  </p>
                </div>
              </div>
              <div class="col-md-6">
                <div class="img-box">
                  <img src="/assets/images/ship.png" alt="">
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="carousel-item ">
          <div class="container-fluid ">
            <div class="row">
              <div class="col-md-6">
                <div class="detail-box">
                  <h1>
                    Siêu sale chào tháng 11
                  </h1>
                  <p>
                    Chào tháng 11, Fahasa sale lên đến 40%. Mua sách hôm nay, tương lai ngày mai.
                  </p>
                  <div class="btn-box">
                    <a href="" class="btn1">
                      Mua ngay
                    </a>
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="img-box">
                  <img src="/assets/images/sale.png" alt="image">
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="carousel-item">
          <div class="container-fluid">
            <div class="row">
              <div class="col-md-6">
                <div class="detail-box">
                  <h2>
                    Bộ Trẻ là thiên tài theo một cách riêng
                  </h2>
                  <p>
                    Những em bé thiên tài đều rất sáng tạo, mạnh mẽ và sâu sắc. Đôi khi, các em ấy có cách học rất khác. Chẳng có gì là xấu khi khác biệt cả. Chỉ cần nắm lấy sự khác biệt rồi tiến bộ từ chính sự khác biệt ấy là chúng mình đã làm cho thế giới trở nên tốt đẹp hơn biết bao!
                  </p>
                </div>
              </div>
              <div class="col-md-6">
                <div class="img-box">
                  <img src="/assets/images/slider-img1.png" alt="">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <ol class="carousel-indicators">
        <li data-target="#customCarousel1" data-slide-to="0" class="active"></li>
        <li data-target="#customCarousel1" data-slide-to="1"></li>
        <li data-target="#customCarousel1" data-slide-to="2"></li>
      </ol>
    </div>
  </section>

  <!-- end slider section -->
</div>
<!-- shop section -->
<section class="shop_section layout_padding">
  <div class="container">
    <div class="heading_container heading_center">
      <h2>
        Sách mới nhất
      </h2>
    </div>
    <div class="row">
      <div class="col-sm-6 col-xl-3" *ngFor="let book of bookList | paginate: {itemsPerPage: size, currentPage: page, totalItems: totalElements}; let i = index">
        <div class="box">
          <a [routerLink]="['/detail', book.bookId]">
            <div class="img-box">
              <img src="{{book.bookImage}}" alt="image">
            </div>
            <div class="detail-box">
              <h6>
                {{book.bookName}}
              </h6>
            </div>
            <div class="new" *ngIf="i<=5">
                <span>
                  Mới
                </span>
            </div>
          </a>
        </div>
        <div class="cus-price" *ngIf="book.bookPromotionId.promotionId !== 1">
          Giá:
          <span class="original">{{(book.bookPrice-(book.bookPrice*book.bookPromotionId.promotion_percent*0.01)).toFixed(3)}}<sup>đ</sup></span><span style="padding-left: 20px; font-size: small;text-decoration-line: line-through">{{book.bookPrice.toFixed(3)}}<sup>đ</sup></span>
        </div>
        <div class="cus-price" *ngIf="book.bookPromotionId.promotionId === 1">
          Giá:
          <span class="original">{{book.bookPrice.toFixed(3)}} <sup>đ</sup></span>
        </div>
      </div>
    </div>
    <div *ngIf="totalElements > 16" style="display: flex; justify-content: center; align-items: center; margin-top: 30px">
      <pagination-controls (pageChange)="getAllTopNewBook($event)"></pagination-controls>
    </div>
  </div>
</section>
<!-- end shop section -->
