<!-- footer section -->
<footer class="footer_section">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-lg-3 footer-col">
        <div class="footer_detail">
          <h4>
            Về Fahasa
          </h4>
         <div class="about_us">
           <a href="">
             <span>
                  Giới thiệu Fahasa
                </span>
           </a>
           <a href="">
             <span>
                  Chính sách bảo mật thanh toán
                </span>
           </a>
           <a href="">
             <span>
                  Chính sách giải quyết khiếu nại
                </span>
           </a>
           <a href="">
             <span>
                Điều khoản sử dụng
                </span>
           </a>
         </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-3 footer-col">
        <div class="footer_contact">
          <h4>
            Liên hệ với chúng tôi
          </h4>
          <div class="contact_link_box">
            <a href="">
              <i class="fa fa-map-marker" aria-hidden="true"></i>
              <span>
                  Trần Hưng Đạo, TP.Đà Nẵng, Việt Nam
                </span>
            </a>
            <a href="">
              <i class="fa fa-phone" aria-hidden="true"></i>
              <span>
                  Call: +84.325.525.535
                </span>
            </a>
            <a href="">
              <i class="fa fa-envelope" aria-hidden="true"></i>
              <span>
                  furamasupport@gmail.com
                </span>
            </a>
          </div>
          <div class="footer_social">
            <a href="">
              <i class="fa fa-facebook" aria-hidden="true"></i>
            </a>
            <a href="">
              <i class="fa fa-twitter" aria-hidden="true"></i>
            </a>
            <a href="">
              <i class="fa fa-linkedin" aria-hidden="true"></i>
            </a>
            <a href="">
              <i class="fa fa-instagram" aria-hidden="true"></i>
            </a>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-3 footer-col">
        <div class="footer_detail">
          <h4>
            Hợp tác và liên kết
          </h4>
          <div class="about_us">
            <a href="">
             <span>
                  Quy chế hoạt động sàn GDTMĐT
                </span>
            </a>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-3 footer-col">
        <div class="footer_detail">
          <h4>
            Thanh toán
          </h4>
          <div class="about_us">
            <a href="">
                <img width="100px" height="35px" src="assets/images/PayPal.svg.png">
            </a>
          </div>
        </div>
<!--        <div class="map_container">-->
<!--          <div class="map">-->
<!--            <div id="googleMap"></div>-->
<!--          </div>-->
<!--        </div>-->
      </div>
    </div>
    <div class="footer-info">
      <p>
        &copy; <span id="displayYear">2022</span> Bản quyền của Công ty TNHH Fahasa
      </p>
    </div>
  </div>
</footer>
<!-- footer section -->
