<!-- login section -->
<section class="about_section layout_padding">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-lg-5 ">
        <div class="img-box">
          <img src="assets/images/register.png" alt="">
        </div>
      </div>
      <div class="col-md-6 col-lg-7">
        <div class="login-card-container">
          <div class="login-card">
            <div class="login-card-header" style="color: #3b4a6b">
              <h1>Đăng ký</h1>
            </div>
            <form class="login-card-form">
              <div class="row">
                <!-- HO VA TEN !-->
                <div class="col-md-12 col-lg-12">
                  <div class="height-input">
                    <div class="form-item">
                      <span class="form-item-icon material-symbols-rounded">text_format</span>
                      <input type="text" minlength="8" maxlength="50" placeholder="Họ và tên">
                    </div>
                  </div>
                </div>

                <div class="col-md-6 col-lg-6">
                  <!-- TEN TAI KHOAN !-->
                  <div class="height-input">
                    <div class="form-item">
                      <span class="form-item-icon material-symbols-rounded">person</span>
                      <input type="text" minlength="5" maxlength="20" placeholder="Tên đăng nhập">
                    </div>
                    <div class="cus-error">
                      <span class="form-text mess">
                        Mật khẩu chứa ít nhất một kí tự hoa, một kí tự thường, một kí tự số và một kí tự đặc biệt.</span>
                    </div>
                  </div>
                  <!-- MAT KHAU !-->
                  <div class="height-input">
                    <div class="form-item">
                      <span class="form-item-icon material-symbols-rounded">lock</span>
                      <input type="password" minlength="8" maxlength="20" placeholder="Mật khẩu">
                    </div>
                  </div>
                  <!-- XAC NHAN MAT KHAU !-->
                  <div class="height-input">
                    <div class="form-item">
                      <span class="form-item-icon material-symbols-rounded">lock</span>
                      <input type="password" maxlength="20" placeholder="Xác nhận mật khẩu">
                    </div>
                  </div>
                </div>

                <div class="col-md-6 col-lg-6">
                  <!-- EMAIL !-->
                  <div class="height-input">
                    <div class="form-item">
                      <span class="form-item-icon material-symbols-rounded">mail</span>
                      <input type="text" placeholder="Email" maxlength="40">
                    </div>
                  </div>
                  <!-- SO DIEN THOAI !-->
                  <div class="height-input">
                    <div class="form-item">
                      <span class="form-item-icon material-symbols-rounded">phone</span>
                      <input type="text" maxlength="20" placeholder="Số điện thoại">
                    </div>
                  </div>
                  <!-- DIA CHI !-->
                  <div class="height-input">
                    <div class="form-item">
                      <span class="form-item-icon material-symbols-rounded">home</span>
                      <input type="text" placeholder="Địa chỉ" maxlength="60" minlength="5">
                    </div>
                  </div>
                </div>
              </div>
              <button type="submit">Đăng ký</button>
            </form>
            <div class="login-card-footer">
              <span style="color: #3b4a6b; font-size: small">Bạn đã có tài khoản? </span> <a routerLink="/login">Đăng nhập</a>
            </div>
            <div class="login-card-footer">
              <span style="color: #3b4a6b; font-size: x-small">Bằng việc đăng ký, bạn đã đồng ý với Fahasa về<a> Điều khoản dịch vụ</a> & <a>Chính sách bảo mật</a></span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- end login section -->
